@use "sass:color";
@import "variables"; // Import the variables file

.talks {
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      position: relative;
      padding-left: 2rem;
      margin-bottom: 1.5rem;

      &::before {
        content: "•";
        color: #007bff; /* Change to your desired color */
        position: absolute;
        left: 3px;
        top: -0.47em;
        font-size: 3rem;
      }
    }
  }
}