<div class="interests">
  <h2>Interests</h2>
  {% if interests %}
    <ul class="interests-list">
      {% for interest in interests %}
        <li>
          <a href="{{ interest.url }}" target="_blank">{{ interest.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No interests provided.</p>
  {% endif %}
</div>
